<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}GLUCII
			{% endblock %}
		</title>
		<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic"/>
		<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design"/>
		<meta
		name="author" content="Luka Cvetinovic for Codrops"/>
		<!-- Favicons (created with http://realfavicongenerator.net/)-->
		<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
		<link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="img/favicons/manifest.json">
		<link rel="shortcut icon" href="img/favicons/favicon1.png">
		<meta name="msapplication-TileColor" content="#00a8ff">
		<meta name="msapplication-config" content="img/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		{% block stylesheets %}
			<!-- Normalize -->
			<link
			rel="stylesheet" type="text/css" href="css/home/normalize.css">
			<!-- Bootstrap -->
			<link
			rel="stylesheet" type="text/css" href="css/home/bootstrap.css">
			<!-- Owl -->
			<link
			rel="stylesheet" type="text/css" href="css/home/owl.css">
			<!-- Animate.css -->
			<link
			rel="stylesheet" type="text/css" href="css/home/animate.css">
			<!-- Font Awesome -->
			<link
			rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css">
			<!-- Elegant Icons -->
			<link
			rel="stylesheet" type="text/css" href="fonts/et-icons.css">
			<!-- Main style -->
			<link rel="stylesheet" type="text/css" href="css/home/cardio.css">
		{% endblock %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function () {
var ga = document.createElement('script');
ga.type = 'text/javascript';
ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(ga, s);
})();
		</script>
	</head>

	<body>
		{% block body %}
			<div class="preloader">
				<img src="img/loader.gif" alt="Preloader image">
			</div>
			<nav class="navbar">
				<div
					class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="img/logo/logo2.png" data-active-url="img/logo/logo-active.png" alt=""></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right main-nav">
							<li>
								<a href="#intro">Intro</a>
							</li>
							<li>
								<a href="#services">Services</a>
							</li>


							<li>
								<a href="/register" class="btn btn-blue">Register</a>
							</li>
							<li>
								<a href="/login" class="btn btn-blue">Sign In</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<header id="intro" style="background: url('img/header.jpg');">
				<div class="container">
					<div class="table">
						<div class="header-text">
							<div class="row">
								<div class="col-md-12 text-center">
									<h3 class="light white">Take care of your health.</h3>
									<h1 class="white typed">We have diabetes,it doesn’t get to stop us</h1>
									<span class="typed-cursor">|</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section id="services" class="section section-padded">
				<div class="container">
					<div class="row text-center title">
						<h2>Services</h2>
					</div>
					<div class="row services">
						<div class="col-md-4">
							<div class="service">
								<div class="icon-holder">
									<img src="img/icons/vaccine.png" alt="" class="icon">
								</div>
								<h4 class="heading">INSULINE RAPIDE</h4>
								<p class="description">take your doses of rapid insulin calculated by the ratio method
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="service">
								<div class="icon-holder">
									<img src="img/icons/bar-chart.png" alt="" class="icon">
								</div>
								<h4 class="heading">Statistics</h4>
								<p class="description">keep track of the amount of insulin you take</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="service">
								<div class="icon-holder">
									<img src="img/icons/icons8-article-64.png" alt="" class="icon">
								</div>
								<h4 class="heading">Articles</h4>
								<p class="description">read interesting articles about diabetes.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="cut cut-bottom"></div>
			</section>
			<!-- Holder for mobile navigation -->
			<div class="mobile-nav">
				<ul></ul>
				<a href="#" class="close-link">
					<i class="arrow_up"></i>
				</a>
			</div>
			{% block javascripts %}

				<!-- Scripts -->
				<script src="js/home/jquery-1.11.1.min.js"></script>
				<script src="js/home/owl.carousel.min.js"></script>
				<script src="js/home/bootstrap.min.js"></script>
				<script src="js/home/wow.min.js"></script>
				<script src="js/home/typewriter.js"></script>
				<script src="js/home/jquery.onepagenav.js"></script>
				<script src="js/home/main.js"></script>
			{% endblock %}
		{% endblock %}
	</body>

</html>
