<!DOCTYPE html>
<html lang="zxx">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8"/>

		<title>Diabète de type 2 : il est important de bien dormir !  | Diabete.fr</title>


		<link
		rel="stylesheet" href="css/navbar.css">
	<!-- endinject -->
	</head>
	<body style="background-color: #141e30; padding-left :200px;padding-right :200px;">

		<nav>
			<a href="/home">Home</a>
			<a href="/home#info">About us</a>
			<a href="/ratio">Get dose</a>
			<a href="/chartjs">Your statistics</a>
			<a href="/logout">logout</a>
			<div class="animation start-home"></div>
		</nav>
		<h1 style="color:white ;text-align: center; padding-top: 50px;padding: bottom 30px;">Diabète de type 2 : il est important de bien dormir !</h1>
		<p align="center"><img src="img/article1.jpeg" alt="image"></p>
		<div style="color: white; font-size:20px">
			<p>
				<strong>Plusieurs études récentes soulignent l’importance du sommeil pour prévenir l’apparition du diabète de type 2 ou limiter son aggravation. Ni trop court ni trop long, le sommeil doit ainsi être idéalement compris entre 6 et 9 heures par jour pour éviter des perturbations du métabolisme du glucose, ou des troubles de l’appétit.</strong>
			</p>

			<p>Le sommeil est capital pour garantir le bon équilibre psychologique et métabolique de l’organisme. Outre le fait que différentes études ont mis en évidence la fréquence plus importante de certains troubles du sommeil chez les personnes diabétiques, il apparaît aujourd’hui que, réciproquement, les troubles et la restriction du sommeil favorisent le développement du diabète.</p>

			<p>Différentes études scientifiques et associations, comme l’Institut national du sommeil et de la vigilance, souligne ainsi l’importance de la qualité du sommeil pour prévenir la survenue et l’aggravation du diabète. En particulier, le temps de sommeil joue un rôle déterminant : dormir moins de 6 heures par 24 heures serait un facteur de risque.</p>

			<p>Ce phénomène pourrait s’expliquer par des perturbations endocriniennes, c’est-à-dire des modifications au niveau du système hormonal, liées au manque de sommeil.</p>

			<p>Le métabolisme du glucose, et donc le contrôle glycémique de l’organisme, est ainsi fortement perturbé en cas de manque de sommeil. Des études ont observé qu’il était réduit de 40 %, que la quantité d’<a href="/glossaire#insuline">insuline</a>
				produite était diminuée de 30 %, et que la résistance à l’insuline augmentait de 50 %.</p>

			<p>Un temps de sommeil trop long serait également problématique. Les personnes dormant plus de 9 heures sont plus susceptibles d’être un jour diabétique.</p>

			<p>Des études ont démontré l’impact de la restriction du sommeil sur l’appétit. Le manque de sommeil a un effet sur les niveaux d’hormones qui le régulent : on observe dans ces conditions une diminution du taux de leptine, hormone responsable de la sensation de satiété, et une augmentation du taux de ghréline, qui au contraire stimule l’appétit.</p>

			<p>La privation ou la restriction de sommeil conduisent ainsi à une prise alimentaire trop importante et une prise de poids, qui peuvent ensuite à terme provoquer un diabète de type 2.</p>

			<p>Un point d’attention particulier a été donné au syndrome d’apnées obstructives du sommeil. Cette maladie fréquente, caractérisée par des arrêts répétés de la respiration au cours du sommeil, représente un facteur de risque pour l’apparition du diabète de type 2.</p>

			<p>Il est donc essentiel de dormir suffisamment et d’avoir un sommeil de qualité pour diminuer les risques de développer un diabète. Une bonne hygiène de vie peut permettre d’éviter les troubles du sommeil, et plusieurs pistes peuvent être envisagées.</p>

			<p>En premier lieu, l’activité physique : elle permet d’augmenter le sommeil lent profond, important pour la récupération, et de lutter contre l’anxiété et la dépression, qui peuvent entraîner des troubles du sommeil. Il faut dans ce cas privilégier des activités d’endurance comme la marche à pied, la course ou la natation, d’une intensité modérée mais régulièrement pratiquées, et réalisées si possible 4 à 8 heures avant le coucher.</p>

			<p>Il faut ensuite éviter le tabac, la nicotine étant un perturbateur du sommeil. Elle stimule le corps, retarde l’endormissement, augmente les réveils nocturnes et rend le sommeil plus léger.</p>

			<p>La consommation d’alcool, qui favorise l’instabilité du sommeil, avec des éveils nocturnes fréquents, doit être également limitée.</p>

			<p>Enfin, c’est par le dépistage et le traitement d’éventuelles pathologies du sommeil qu’il sera possible d’éviter l’aggravation des troubles, et ainsi le développement du diabète.</p>
			<p></p>
		</div>
	</body>
</html></body></html>
