<!DOCTYPE html>
<html lang="zxx">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8"/>

		<title>Manger sur le pouce et équilibré ? C’est possible… Et en étant diabétique ? Aussi ! | Diabete.fr</title>


		<link
		rel="stylesheet" href="css/navbar.css">
	<!-- endinject -->
	</head>
	<body style="background-color: #141e30; padding-left :200px;padding-right :200px;">
		<nav>
			<a href="/home">Home</a>
			<a href="/home#info">About us</a>
			<a href="/ratio">Get dose</a>
			<a href="/chartjs">Your statistics</a>
			<a href="/logout">logout</a>
			<div class="animation start-home"></div>
		</nav>
		<h1 style="color:white ;text-align: center; padding-top: 50px;padding: bottom 30px;">Manger sur le pouce et équilibré ? C’est possible… Et en étant diabétique ? Aussi !</h1>
		<p align="center"><img src="img/article3.jpg" alt="image"></p>
		<div style="color: white; font-size:20px">


			<p>Que vous soyez confortablement installé à table ou en train de manger debout entre deux réunions, le principe est le même pour atteindre un équilibre alimentaire : il s’agit de bien choisir ses aliments. Même si les possibilités sont parfois restreintes, pas de panique ! Nous allons vous aider à faire les meilleurs choix.</p>

			<p>
				<strong>Les bases pour composer un déjeuner équilibré</strong>
			</p>

			<p>Ces règles simples s’appliquent aussi bien à votre repas préparé à la maison qu’à celui pris à l’extérieur (à emporter ou au restaurant). Elles vont vite devenir une bonne habitude.
								
								               , votre « assiette » doit se composer de :
								
								               25 % de féculents (riz, pâtes, pommes de terre, semoule, pain, lentilles…). Préférez dans la mesure du possible les versions complètes.
								               25 % de protéines animales (viande, poisson, œufs) et/ou végétales (légumineuses). Comme les légumineuses (pois chiches, lentilles…) apportent également des glucides, elles pourront remplacer votre portion de féculents.
								               50 % de légumes cuits ou crus.</p>

			<p align="center"><img src="img/article31.jpg" alt="image"></p>

			<p>Le tout assaisonné d’un peu de matières grasses (équivalent à 1 cuillère à soupe).
								
								               Vous avez la base !
								
								               Pour le dessert, choisissez un fruit frais ou un fromage blanc nature dans l’idéal. Mais une compote ou un coulis de fruits peuvent de temps en temps faire partie du menu.
								
								               Besoin d’aide pour sélectionner vos aliments et calculer la quantité de glucides ? Utilisez le tableau des équivalences glucidiques de la Fédération Française des Diabétiques ou notre balance glycémique. Des outils précieux pour vos repas.
								
								               Ces repas restant exceptionnels, il s’agit ensuite d’optimiser ses apports et de les contrôler sur l’ensemble de la journée, sur les 3 repas principaux et les 1 à 2 collations.</p>

			<p>
				<strong>Préparer ses propres lunch box : une valeur sûre</strong>
			</p>

			<p>En effet, la préparation maison reste la meilleure option pour s’assurer de manger un plat à son goût, contrôler ses apports et, qui plus est, souvent plus intéressante sur le plan nutritif.</p>


			<p>
				<strong>Quelques astuces pour vous faire gagner du temps :</strong>
			</p>

			<p>Planifiez vos recettes et menus de la semaine. Regardez ce qu’il y a dans vos placards et inspirez-vous des recettes simples et originales dont regorge Internet. Puis complétez par des courses qui feront le tour de vos besoins. Cette organisation permet également moins de gaspillage alimentaire !
								Prévoyez un temps de préparation. Là, 2 options s’offrent à vous :</p>

			<p>1.Soit pour l’ensemble des repas de la semaine : c’est ce qu’on appelle le batch-cooking. Cette technique consiste à se réserver quelques heures dans son week-end généralement pour concocter toutes les recettes qui ne seront plus qu’à réchauffer ou à assembler le moment venu.</p>

			<p>2.Soit en profitant du dîner pour faire des quantités plus importantes. A déguster le lendemain midi ou à congeler pour plus tard !</p>

			<p>Vous l’aurez compris, un repas, même pris sur le pouce, doit comprendre tous les groupes d’aliments. Il s’agit de faire au mieux et d’équilibrer ensuite sur les autres repas et jours de la semaine. Sans jamais oublier de se faire plaisir de temps en temps !</p>


		</div>
	</body>
</html></body></html>
