{% extends 'base.html.twig' %}

{% block title %}Hello Get statistics
{% endblock %}

{% block body %}
	<div>
		<link rel="stylesheet" href="css/navbar.css">
		<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
		</style>
		<nav>
			<a href="/home">Home</a>
			<a href="/articles">Articles</a>
			<a href="/profile">Profile</a>
			<a href="/ratio">Get your dose</a>

			<a href="/logout">logout</a>
			<div class="animation start-home"></div>
		</nav>
		<div class='example-wrapper'>
			{{ render_chart(chart, {'id': 'my-chart'})}}

		</div>
	{% endblock %}
