<!DOCTYPE html>
<html lang="zxx">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8"/>

		<title>Bien gérer son diabète en toutes saisons | Diabete.fr</title>


		<link
		rel="stylesheet" href="css/navbar.css">
	<!-- endinject -->
	</head>
	<body style="background-color: #141e30; padding-left :200px;padding-right :200px;">
		<nav>
			<a href="/home">Home</a>
			<a href="/home#info">About us</a>
			<a href="/ratio">Get dose</a>
			<a href="/chartjs">Your statistics</a>
			<a href="/logout">logout</a>
			<div class="animation start-home"></div>
		</nav>
		<h1 style="color:white ;text-align: center; padding-top: 50px;padding: bottom 30px;">Bien gérer son diabète en toutes saisons</h1>
		<p align="center"><img src="img/article2.png" alt="image"></p>
		<div style="color: white; font-size:20px">
			<p>
				Et si vous adaptiez votre mode de vie en fonction des saisons ?  Une autre manière d’apprendre à gérer son diabète, sensible aux variations de températures, au quotidien. A chaque saison, modifiez vos habitudes : alimentation, activités physiques, ... découvrez les clés pour gérer votre glycémie au fil des saisons sans frustration.
			</p>

		</br>
		<p>
			<strong>La température extérieure, quelle influence sur la glycémie ?</strong>
		</p>

		<p>Qu’elle soit très élevée ou, au contraire, très basse, la température extérieure peut avoir des conséquences sur le fonctionnement de l’organisme. Ce dernier va réagir en synthétisant des hormones, qui ont pour effet d’augmenter la glycémie. Une personne diabétique pourrait donc avoir plus de difficultés à contrôler sa glycémie pendant les périodes de grosses chaleurs, comme en été, ou en cas de grand froid, comme en hiver.</p>

		<p>L’été[1], la chaleur va plutôt entraîner une hausse de la glycémie, qui va aggraver le risque de déshydratation lié aux températures élevées. S’hydrater suffisamment est particulièrement important pour prévenir une hyperglycémie.</p>

		<p>L’hiver[2], le froid oblige le corps à brûler davantage de calories pour maintenir sa température, au risque de provoquer une hypoglycémie.</p>

		<p>Connaître les effets possibles des variations de températures sur votre glycémie peut vous aider à les anticiper tout au long de l’année.  Par ailleurs, il n’y a pas que votre organisme qui soit sensible au froid ou au chaud ; vos médicaments et votre matériel pour contrôler votre diabète réagissent également à de grands écarts de température [1] [2]. Ainsi, l’insuline devient moins efficace et les lecteurs de glycémie moins précis lorsqu’il fait très froid ou très chaud[3]. Pas d’inquiétude cependant, il suffit de prendre quelques précautions comme l’utilisation de pochettes isothermes pour protéger votre matériel et de veiller à respecter leurs données de conservation.</p>

		<p>
			<strong>Alimentation : les règles restent les mêmes en toutes saisons</strong>
		</p>

		<p>L’été et ses barbecues entre copains, l’hiver et ses raclettes, les apéros en terrasses avec l’arrivée des beaux jours au printemps... Difficile de résister aux habitudes gourmandes qui accompagnent chaque saison ! Des écarts qui impliquent des conséquences quand on souffre d’un diabète... Quelle que soit la saison, respectez les mêmes règles : pas trop de calories, une teneur en graisses modérée, suffisamment de vitamines, d’oligoéléments et de fibres.</p>
		<p>
			<strong>Activité physique : adaptez-vous aux saisons !</strong>
		</p>
		<p>Vous le savez, la pratique régulière d’une activité physique est tout aussi importante qu’une alimentation équilibrée ou la prise de votre traitement pour contrôler votre diabète. Mais s’il est facile de se motiver pour une balade au printemps ou en été, la météo capricieuse et le froid qui accompagnent l’automne et l’hiver ont vite fait de vous rebuter. Heureusement, il existe autant d’activités à pratiquer à l’extérieur qu’en intérieur : vélo, balade en forêt, yoga, ski de fond, jardinage, aquagym... à vous de vous adapter aux conditions extérieures et de choisir celle qui sera la plus appropriée à chaque saison.</p>
		<p>
			<strong>L’effet des saisons sur le moral</strong>
		</p>
		<p>En automne et en hiver, le manque de luminosité et les journées qui raccourcissent peuvent affecter le moral de certains. Cette dépression saisonnière est généralement temporaire, mais il ne faut pas moins s’en préoccuper. Car elle peut mettre à mal les bonnes habitudes en matière d’alimentation et d’activité physique, et impacter la bonne gestion de votre diabète. Exposez-vous le plus possible à la lumière du jour, continuez à voir vos amis et surtout ne vous isolez pas. Si vous ne retrouvez pas le moral, consultez votre médecin.</p>
	</body>
</html></div></body></html></body></html>
